<% title = 'Hello, world' %>

<% first_message = "ask your matter!" %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>

<h1>Almond Choco</h1>

<h2>Issued Problems</h2>
<ul>
  <% for(var i = 0; i < problems.length; i++) { %>
    <li>
      <a href='/problem/<%= problems[i].id %>' ><%=problems[i].title%></a>
  <% } %>
</ul>

<h2>Issue New Problem</h2>
<form action="problems" method="post">
  title:<br><input name=title><br>
  description:<br><textarea name=description></textarea><br>
  input:<br><textarea name=input></textarea><br>
  output:<br><textarea name=output></textarea><br>
  <button type="submit">submit</button>
</form>

<br>

<%= copyright %>

