<% title = 'login' %>

<h1>login</h>
<form action='/register' method=post>
<input type="text" name="userid">
<br>
<input type="password" name="password">
<br>
<button type=submit>Register</button>
</form>