<% title = 'Issue New Problem' %>

<h1>Issue New Problem</h1>
<form action="/problems/new" method="post">
  title:<br><input name=title><br>
  description:<br><textarea name=description></textarea><br>
  input:<br><textarea name=input></textarea><br>
  output:<br><textarea name=output></textarea><br>
  <button type="submit">submit</button>
</form>
