<% title = 'Problem' %>
<% description_text = "explain the problem" %>
<% first_message = "write your code" %>
<% copyright = "Copyright(C) 2012. Almond Choco Project(仮)" %>
<h1>Problem Sample</h1>

<h2><%= mes %></h2>
<h2>Description</h2>
<TEXTAREA cols="40" rows="6" wrap="off">
  <%= description_text %>
</TEXTAREA>


<br><br>

<h2>Code</h2>
<TEXTAREA cols="40" rows="6" wrap="off">
  <%= first_message %>
</TEXTAREA>

<br>

<BUTTON type="submit">RUN</BUTTON>

<br>

<%= copyright %>
